*{
	font-family: Verdana;
	word-wrap: break-word;
}
.cout, .cin-given{
	border: 2px solid black;
	padding: 8.5px;
	box-sizing: border-box;
	color: black;
	width: 100%;
	font-size: 30px;
}
.cin input{
	border: 2px solid black;
	color: black;
	box-sizing: border-box;
	width: 100%;
	padding: 8.7px;
	font-size: 30px;
}
.bar{
	color: black;
	text-align: center;
	font-size: 30px;
	background-color: lightgreen;
}
table{
	width: 100%;
	table-layout: fixed;
}
button{
	width: 100%;
	height: 50px;
}
td button{
	font-size: 30px;
}
button:hover{
	background-color: #2EE59F;
}
tr{
	text-align: center;
	height: 50px;
}
.history{
	text-align: center;
	color: black;
	display: none;
}
h4{
	color: blue;
	cursor: pointer;
}
h4:hover{
	text-decoration: underline;
}
input[type=button]{
	font: 20px;
	width: auto;
	float: right;
	cursor: pointer;
	padding: 1px;
	margin-bottom: 4px;
	margin-top: 4px;
	height: 40px;
}
input[type=button]:hover{
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}
span{
	display: flex;
	justify-content: space-between;
}
@media(max-width: 500px){
	.cout, .cin-given, .cin input, .bar, td button{
		font-size: 17px;
	}
	input[type=button], h4{
		font-size: 13px;
		height: 30px;
	}
	button, tr{
		height: 35px;
	}
	.cin input{
		padding: 8px;
	}
	.cin-given, .cout{
		padding: 8px;
	}
}
